# Required variables
# An axelar account. it should has some fund for sending transactions
AXELAR_MNEMONIC="YOUR_AXELAR_DEVNET_MNEMONIC"
# An evm account. it should has some fund to send transactions.
EVM_PRIVATE_KEY="YOUR_EVM_PRIVATE_KEY"
# The DB is used to store the relayed transactions.
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/relayer"

# Optional variables
# Set a number of attempts of the relayer to re-broadcast the failed tx.
MAX_RETRY=5
# Set a delay between each attempt in milliseconds.
RETRY_DELAY=3000 # 3 seconds
# The Hermes metric url is used to determine if hermes is running.
HERMES_METRIC_URL="http://localhost:3001"
# Datadog is used to store relayer's logs
DATADOG_API_KEY=""
# The chain env is used to selected a set of evm chains, axelar chain and cosmos chains.
# The default value is "testnet". The available values are "devnet", "testnet", and "mainnet".
CHAIN_ENV="testnet"
